.art-hero {
  .hero-body {
    text-shadow: 0px 0px 1rem rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.1);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 6%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.75) 95%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
